/* *{
     border: green 1px solid; 
} */

body{
    background-image: url("assets/concretewhite.jpg");
    background-size: 60%;
    position:static;
}

.header{
    width:100%;
    min-height: 100px;
    background-color:rgb(252, 250, 248);
    background-image: url("assets/logo.svg");
    background-repeat: no-repeat;
    background-position-x: 11%;
    background-size: 100px, 100px;
    /* margin-bottom: 70px; */
    top:0;
    left:0;
    right:0;
    position:fixed;
}

nav{
    position:fixed;
    top: 20px;
    right: 11%;
}

nav ul{
    font-family: Helvetica;
    word-spacing: 45px;
    font-size: 20px;
}


nav li {
    display: inline;
}

nav li a{
    text-decoration: none;
    color: rgb(10,31,44);
}

nav li a:hover{
  color: rgb(241,96,56);
}



.work-container{
    display:grid;
    /* margin: 0 auto; */
    margin-top: 60px;
    margin-left: 6%;
    padding: 100px;
    position:static;
    /* width: fit-content; */
    gap:5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    border: 1px solid rgb(0, 0, 255);
    overflow:auto;
  }

  



footer{
    position:static;
    margin: 0 auto;
    padding: 0;
    height:48px;
    width: 100%;
    left: 0%;
    background-color:rgb(252, 250, 248);
    border-radius: 10px;
}

h4{
    position: relative;
    width:fit-content;
    left: 11%;
    top: 15px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: rgb(10,31,44);
}


.footer-container{
    display:grid;
    margin: 0 auto;
    width: 200px;
    position:relative;
    bottom: 31px;
    left: 37.5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a""b";
    border: 0px solid rgb(0, 0, 255);
    
}

.insta{
    width: 30px;
}

.insta:hover{
    fill: rgb(241,96,56);
}

.linked{
    width: 30px;
}

.linked:hover{
    fill: rgb(241,96,56);
}

@media (max-width: 800px){
    .work-container{
        position:static;
        margin-top: 50px;
        padding-left: 1%;
        gap: 2%;
        /* scale-:fit-content; */
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        ;
    }

    /* nav{
     background-image: url("assets/hamburger.svg");
    } */
}


